<p><%= link_to "Hello", say_hello_path %></p>
<h1>Its Goodbye module with id <%= @id %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, architecto at doloremque doloribus earum eveniet
  explicabo hic ipsam iusto labore maxime nobis nostrum ut! Ab, aperiam earum ipsa odit ratione vero. Distinctio dolorem
  explicabo facere, iure nulla omnis repudiandae saepe vel. Ab exercitationem expedita facere nesciunt omnis, quibusdam
  rem veniam. Debitis dolorum eaque eligendi eos excepturi expedita ipsam itaque, laudantium libero mollitia repellendus
  sapiente sed temporibus. Adipisci autem consequatur deserunt distinctio dolore dolorem doloribus dolorum ducimus eaque
  eius eos eveniet in ipsum iste magnam maxime natus nisi omnis quae quidem quo reprehenderit repudiandae saepe sint
  sit, suscipit tempore voluptate. Aliquid!</p>
<footer>
  <p>&copy; All rights reserved</p>
  <p>@dawnlv - Telegram</p>
  <p><%= @time %> </p>
</footer>
