<p><%= link_to "Goodbye", say_goodbye_path %></p>
<h1>Its hello module</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ipsa nam quas reiciendis? Aspernatur assumenda
  autem consequatur dolor, earum explicabo iste laudantium necessitatibus nobis optio praesentium quisquam sed ullam,
  voluptatibus!</p>
